@import url("https://fonts.googleapis.com/css?family=Open+Sans|Inter|Caveat|Indie+Flower");

/*   Elementos globales        */
* {
  margin: 0;
  padding: 0;
} 
body {
  font-family: "Open Sans", Inter, "Arial Narrow Bold", sans-serif;
  display: block;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(235, 235, 243);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: solid;
}
header {
  padding-left: 20px;
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(214, 230, 245);
  border-bottom: solid;
}
h1,
h2, h5 {
  font-family: Caveat, "Indie Flower";
}
main{
  display: flex;
  margin-top: 15px;
  border-bottom: solid;
}
footer {
  margin-bottom: 80px;
}
footer h2 {
  margin-top: 20px;
  margin-left: 20px;
}
footer figure {
  margin-top: 20px;
  margin-bottom: 30px;
}
footer figcaption {
  margin-bottom: 20px;
  margin-left: 10px;
}
footer p {
  font-family: Caveat, "Indie Flower";
  font-weight: 1000;
  text-align: center;
}
/* fin de elementos globales*/

/* Clases del header*/
.logo {
  padding-top: 20px;
  display: flex;
  width: 60%;
  height: 20%;
}
.logo-img {
  width: 20%;
}
.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}
.nav-menu a {
  text-decoration: none;
  color: black;
  font-family: Caveat, "Indie Flower";
  font-size: larger;
  font-weight: 1000;
  width: 30%;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.nav-menu a:hover{
  background-color: rgba(189, 220, 247,0.5);
  border-radius: 10px;
  font-size: 30px;
}
.title {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
/* fin de clases del header*/

/* clases del main*/
.projects {
  width: 20%;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 10px;
  border-right: solid;
}
.projects h2 {
  margin-bottom: 15px;
}
.projects-menu{
  list-style: none;
}
.projects-menu li {
  margin: 8px 0;
  cursor: pointer;
}
.projects-menu > li:not(:last-child){
  margin-bottom: 20px;
  margin-right: 20px;
  padding-bottom: 5px;
  border-bottom: solid 1px;
}
.work-exp {
  width: 50%;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 10px;
  border-right: solid;
}
.work-exp > div:not(:last-child){
  margin-bottom: 20px;
  margin-right: 20px;
  padding-bottom: 5px;
  border-bottom: solid 1px;
}
.education {
  width: 30%;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}
.education ul{
  list-style-type: none;
}
.education ul li::before{
  content: '\2014\ ';
  margin-left: -15px;
}
.education li {
  margin-left: 20px;
}
/* fin clases del main*/

/* clases del footer */
.container-reviews {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 0.7rem;
}
.container-reviews figure {
  width: 25%;
  border: solid;
  border-radius: 30px;
  padding: 10px;
}
.container-reviews blockquote {
  font-style: italic;
  text-align: justify;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-right: 10px;
}
.container-reviews figcaption {
  display: flex;
  flex-direction: column;
  color: gray;
}
/* fin clases del footer */

/* clases del formulario de contacto*/
.contact-form {
  display: block;
}
.contact-form h2 {
  width: 100%; 
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.contact-form section {
  width: 100%; 
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.contact-form form {
  border: solid;
  border-radius: 10px;
  padding: 30px; 
  background-color: rgb(214, 230, 245);
}
.contact-form label {
  width: 50%;
}
.contact-form input {
  width: 70%;
  height: 1.5rem;
}
.contact-form textarea {
  width: 95%;
}
.btn{
  width: 30% !important;
}
/* fin clases del formulario de contacto*/

/*media queries*/
@media (max-width: 960px) {
  body {
    width: 80%;
    border: solid;
    margin-left: auto;
    margin-right: auto;
  }
  header {
    display: block;
    justify-items: center;
    padding-bottom: 30px;
  }
  main {
    display: block;
    justify-items: center; 
  }
  main h2 {
     width: 100%;
     text-align: center;
     margin-right: 20px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer h2{
    margin: 10px;
  }
  .logo {
    justify-content: center;
    width: 150%;
    padding-top: 45px;
  }
  .nav-menu {
    width: 60%;
    padding-top: 25px;
  }

  /* queries 960 proyectos */
  .projects{
    display: flex;
    border: 0;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }
  .projects-menu {
    width: 100%;
    border-bottom: solid;
  }
  .projects-menu li{
    text-align: center;
    margin-left: 20px;
  }
  /* fin queries 960 proyectos */

  /* queries 960 experiencia laboral */
  .work-exp {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-right: 0;
    border-bottom: solid;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    margin-left: 0
  }
  .work-exp h2 {
    margin-bottom: 20px;
  }
  .work-exp div {
    margin-left: 20px;
  }
  /* fin queries 960 experiencia laboral */

  /* queries 960 educación */
  .education {
    width: 100%;
  }
  .education h2 {
    margin-bottom: 20px;
  }
  .education div {
    margin-left: 20px;
  }
  /* fin queries 960 educación */

  /* queries 960 comentarios */
.container-reviews {
  width: 100%; 
  flex-direction: column;
}
.container-reviews figure{
  display: none;
}
.container-reviews figure:first-child {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
  /* fin queries 960 comentarios */

  /* queries 960 formulario de contacto */
  .contact-form section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  /* fin queries 960 formulario de contacto */
}
@media (max-width: 620px){
  .contact-form section{
    flex-direction: column;
  }
}
@media (max-width: 420px) {
  body {
    margin-left: auto;
    margin-right: auto;
  }
  header {
    padding-left: 0;
  }
 


  .nav-menu {
    flex-direction: column;
  }
  .title {
    font-size: 0.7rem;
  }

  
}
